/* Set a background image by replacing the URL below */
body {
    background: url('http://localhost/projeto_comentarios/app/view/public/img2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #sticky-footer {
    flex-shrink: none;
  }